
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
